# Importar Pandas

In [2]:
#importa pandas
import pandas as pd
pd.__version__

'1.0.5'

In [4]:
pd.__version__

'1.0.5'

# Crear una Serie

In [7]:
# Crea una Serie con tres objetos: 'rojo', 'verde', 'azul'
dicx= {
    "nombre": ["rojo","verde","azul"],
    }
colores = pd.DataFrame(dicx)
colores

  nombre
0   rojo
1  verde
2   azul

# Crear un Dataframe

In [8]:
# Crea una Serie de los numeros 10, 20 and 10.
import pandas as pd
import numpy as np
import random
import string

k = 2
N = 18

df = pd.DataFrame({ 'A' : range(1, N + 1 ,1),
       'B' : np.random.randint(k, k + 100 , size=N),
       'C' : pd.Series(random.choice(string.ascii_uppercase) for _ in range(N)) })

print(df)

     A   B  C
0    1  36  O
1    2  19  C
2    3  66  Q
3    4  75  C
4    5  73  B
5    6  16  K
6    7  30  L
7    8  95  G
8    9  38  I
9   10  63  I
10  11  14  O
11  12  84  Q
12  13  16  M
13  14  66  L
14  15  15  A
15  16  76  J
16  17  78  Q
17  18  31  O

# Leer un dataframe

In [1]:
# Lee el archivo llamado 'avengers.csv" localizado en la carpeta "data" y crea un DataFrame, llamado 'avengers'. 
# El archivo está localizado en "data/avengers.csv"

# Inspeccionar un dataframe

In [3]:
# Muestra las primeras 5 filas del DataFrame.

In [5]:
# Muestra las primeras 10 filas del DataFrame.

In [6]:
# Muestra las últimas 5 filas del DataFrame.

# Tamaño del DataFrame

In [7]:
# Muestra el tamaño del DataFrame

# Data types en un DataFrame

In [8]:
# Muestra los data types del dataframe

# Editar el indice (index)

In [9]:
# Cambia el indice a la columna "fecha_inicio".

# Ordenar el indice

In [10]:
# Ordena el índice de forma descendiente

# Resetear el indice

In [11]:
# Resetea el índice